{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '_sidebar.css' %}">
{% endblock %}

<nav id="sidebar" class="border-end" style="width:250px;">
  <div class="p-1">      
    <ul class="nav flex-column">
      {% for t in tutorials %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tutorial:tutorial_detail' t.slug %}">{{ t.title }}</a>
        </li>
      {% empty %}
        <li class="nav-item">
          <span class="nav-link text-muted">Nenhum tutorial disponível</span>
        </li>
      {% endfor %}
    </ul>
  </div>

</nav>
<button class="menu-toggle">→</button>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sidebar = document.getElementById('sidebar');
        const menuToggle = document.querySelector('.menu-toggle');
        
        menuToggle.addEventListener('click', function() {
            sidebar.classList.toggle('show-sidebar');
        });
    });
</script>


