{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'donate.css' %}">
{% endblock %}

{% block title %}Doações{% endblock %}

{% block content %}

<div class="titulo-sub">
  <h1>Ajude a manter a Rede!</h1>
  <p>Ajude com conhecimento, materiais e mão de obra...</p>  
  <p>Para entrar no quadro de doações entre contato em contato@rededecolmeias.com.br </p>
</div>
<!-- Grupo de cards -->
<div class="card-group">
  
    <div class="card" data-bs-toggle="modal" data-bs-target="#modalDoador1"  style="cursor: pointer;">
      <img src="{% static 'imagens/categoria/mao-obra.png' %}" class="card-img-top" alt="Mão de obras">
      <div class="card-body">
        <h5 class="card-title">HORTA AURORA</h5>
        <p class="card-text">Ajuda para contruir 2 Colmeias Racional</p>           
      </div>
    </div>

    <!-- Modal do Doador 1 -->
    <div class="modal fade" id="modalDoador1" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Horta Aurora</h5>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <img src="{% static 'imagens/horta-aurora.png' %}" class="img-fluid mb-3 rounded" alt="Img da horta aurora">
            <h6>Sobre:</h6>
            <p>Descrição sobre sua horta, e o que mais quiser informar</p>
            
            <h6>Pedido:</h6>
            <p>Ajuda para contruir uma Colmeia Racional, não preciso de materias, pois já os tenho. Preciso de ajuda pois não tenho experiência.</p>
            
            <h6>Contato:</h6>
            <p>
              <strong>Site:</strong> <a href="https://www.exemplo.com.br" target="_blank">www.exemplo.com.br</a><br>
              <strong>Email:</strong> contato@exemplo.com.br<br>
              <strong>Telefone:</strong> (11) 99999-9999<br>
              <strong>Rede social:</strong> @hortaaurora101 
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  
</div>

{% endblock %}
